page-skillexr-edit-badge1 {
        .toolbar-background-md {
            border-color: transparent; 
            background: transparent;
        }
        .header-md::after{
            background-image:none;
        }
        .SS-Header_orangeBG{
            background: #d05121;
            height:150px;
        }
        .SS-Header_orangeBG p {
            color: #fff;
            font-size: 16px;
            text-align: center;
        }
        .SS-ion_cont{
            background:#d7d7d7;	
        }
        .SS-ion-item {
            background-color: transparent;
            box-shadow: none;
        }
        .SS-ion-item .item-inner {
            border: none !important;
        }
        .SS-ion-item.item-md ion-avatar img {
            margin: auto;
            width: 70px;
            height: 70px;
        }
        .SS-ion_cont h3 {
            text-align: center;
            color: #25394d;
            font-size: 14px;
            margin: 5px;
               text-decoration: underline;
        }
        .SS-ion_cont p {
            text-align: center;
            color: #25394d;
            font-size: 15px;
            margin-top: 15px;
            font-weight: 700;
        }
        .SS-segment{
            background: #25394d;
            margin-top: 15px !important;
        }
        .SS-ion_cont .toolbar-md {
            padding: 0px !important;
        }
        .SS-segment ion-segment-button.segment-button {
            color: #fff;
            font-size: 16px;
            margin-top: 13px;
            height: 45px;
            }
        .SS-segment.segment-md .segment-button.segment-activated {
            border-bottom: 5px solid #d05121 !important;
        }
    
        //Edison's
        .SS-ion_cont h4 {
            text-align: center;
            color: #25394d;
            font-size: 15px;
            margin: 5px;
        }
        .SS-ion_cont h4 ion-icon{
            width:30px;
            height:30px;
            line-height:30px;
            //border: 2px solid #f5f5f5;
            border-radius: 50%;
            color:#f5f5f5;
            // text-align:center;
            text-decoration:none;
            background: #25394d;
            // box-shadow: 0 0 3px gray;
        }

        .SS-rating h3 {
            padding-top: 40px;
            border-radius: 50%;
            border: 3px solid #bfbfbf;
            width: 100px;
            height: 100px;
            font-size: 18px;
        }
        footer-md::before{
            background-image:none !important;
        }
        .SS-ion-footer {
            padding: 10px 16px;
        }
        .SS-ion-footer button {
            height: 50px;
            border-radius: 0px;
            background: #223242;
            letter-spacing: 1px;
            font-size: 16px;
            font-weight: 700;
        }
        p.SS-para {
           width: 100%; 
           text-align: left; 
           border-bottom: 1px solid #000; 
           line-height: 0.1em;
           margin: 10px 0 20px; 
        } 
    
        p.SS-para span { 
            background:#d7d7d7; 
            padding:0 10px 0 15px; 
        }
    }
    

