page-skillexr-create-a-callout {
    .toolbar-background-md {
	    border-color: transparent; 
	    background: transparent;
	}
	.header-md::after{
		background-image:none;
	}
	.SS-Header_orangeBG{
		background: #d05121;
		height:60px;
	}
	.SS-Header_orangeBG_sub{
		background: #25394d;
		height:60px;
	}
	.SS-Header_orangeBG p {
	    color: #fff;
	    font-weight: 700;
	}
	.SS-ion_cont{
		background:#d7d7d7;	
	}
	.SS-side-menu-left {
		background: #d05121;
		color: #fff;
		height: 55px;
		width: 60px;
		float: left;
		padding: 20px;
		font-size: 20px;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.SS-side-menu-right {
		background: #d05121;
		color: #fff;
		height: 55px;
		width: 60px;
		float: right;
		padding: 20px;
		font-size: 20px;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.SS-ion_cont ion-item {
	    background: transparent;
	    margin-bottom: 10px;
	    border: 1px dashed #000;
		padding-left: 6px !important;
		font-size: 20px;
		font-weight: 700;
	}
	.list-md .item-input:last-child {
	    border-bottom: 1px dashed #000 !important;
	    height: 100px;
	}
	.footer-md::before{
		background-image:none !important;
	}
	.SS-ion-footer {
	    padding: 10px 16px;
	}
	.SS-ion-footer button {
	    height: 50px;
	    border-radius: 0px;
	    background: #223242;
	    letter-spacing: 1px;
	    font-size: 16px;
	    font-weight: 700;
	}
}
