page-skillexr-badge-reviews {
    .toolbar-background-md {
	    border-color: transparent; 
	    background: transparent;
	}
	.header-md::after{
		background-image:none;
	}
	.SS-Header_orangeBG{
		background: #d05121;
		height:150px;
	}
	.SS-Header_orangeBG p {
	    color: #fff;
	    font-size: 16px;
	    text-align: center;
	}
	.SS-ion_cont{
		background:#d7d7d7;	
	}
	.SS-ion-item {
	    background-color: transparent;
	    box-shadow: none;
	}
	.SS-ion-item .item-inner {
	    border: none !important;
	}
	.SS-ion-item.item-md ion-avatar img {
	    margin: auto;
	    width: 70px;
	    height: 70px;
	}
	.SS-ion_cont h3 {
	    text-align: center;
	    color: #25394d;
	    font-size: 14px;
	    margin: 5px;
   		text-decoration: underline;
	}
	.SS-ion_cont p {
	    text-align: center;
	    color: #25394d;
	    font-size: 15px;
	    margin-top: 15px;
	    font-weight: 700;
	}
	.SS-segment{
		background: #25394d;
    	margin-top: 15px !important;
	}
	.SS-ion_cont .toolbar-md {
	    padding: 0px !important;
	}
	.SS-segment ion-segment-button.segment-button {
	    color: #fff;
	    font-size: 16px;
	    margin-top: 13px;
	    height: 45px;
		}
	.SS-segment.segment-md .segment-button.segment-activated {
	    border-bottom: 5px solid #d05121 !important;
	}
	.SS-badge-icons ion-icon {
	    padding: 10px 13px;
	    background: #25394d;
	    border-radius: 50%;
	    font-size: 22px;
	    color: #fff;
	    margin: 10px 5px;
	}
	.SS-badge-icons {
	    text-align: center;
	}
	.SS-rating h3 {
	    padding-top: 40px;
	    border-radius: 50%;
	    border: 3px solid #bfbfbf;
	    width: 100px;
	    height: 100px;
	    font-size: 18px;
	}
	footer-md::before{
		background-image:none !important;
	}
	.SS-ion-footer {
	    padding: 10px 16px;
	}
	.SS-ion-footer button {
	    height: 50px;
	    border-radius: 0px;
	    background: #223242;
	    letter-spacing: 1px;
	    font-size: 16px;
	    font-weight: 700;
	}
	p.SS-para {
	   width: 100%; 
	   text-align: left; 
	   border-bottom: 1px solid #000; 
	   line-height: 0.1em;
	   margin: 10px 0 20px; 
	} 

	p.SS-para span { 
	    background:#d7d7d7; 
	    padding:0 10px 0 15px; 
	}
}
