<ion-header no-border>  
	<ion-navbar hideBackButton color="headerColor">
		<ion-buttons left>
			<button ion-button icon-only class="previous" (click)="backButtonClick()">
				<ion-icon name="arrow-round-back" style="zoom: 0.7"></ion-icon>
				prev
			</button>
		</ion-buttons>
		<ion-title>CREATE A BADGE</ion-title>
		<ion-buttons end>
			<button ion-button icon-only class="next" (click)="nextButtonClick()">
					next
				<ion-icon name="arrow-round-forward" style="zoom: 0.7"></ion-icon> 
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar no-padding color="button">
		<ion-title no-margin>
		<ion-label no-margin class="level level1">
					1
		</ion-label>
		<ion-label no-margin class="level">
					2
		</ion-label>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="SS-ion_cont">
	<ion-list class="SS-ion_list">
		<div class="selectBox" [hidden]="getdetail">
			<ion-grid no-padding>
				<ion-row (click)="selectYourRole()">
					<ion-col col-10>
						<ion-label style="margin-left: 15px;">Select your role</ion-label>
					</ion-col>
					<ion-col col-2 push-1>
						<ion-label [hidden]="labelIcon">
								<ion-icon name="ios-arrow-up-outline"></ion-icon>
							<!-- <i class="fa fa-angle-down" style="zoom: 1.5" aria-hidden="true"></i> -->
						</ion-label>
						<ion-label [hidden]="!labelIcon">
								<ion-icon name="ios-arrow-down-outline"></ion-icon>
								<!-- <i class="fa fa-angle-up" style="zoom: 1.5" aria-hidden="true"></i> -->
						</ion-label>  
					</ion-col>
				</ion-row>
			</ion-grid>     
		</div>

		<div class="selectBox" *ngFor="let role of roles" [hidden]="!labelIcon">
			<ion-grid no-padding>
				<ion-row (click)="selectOne(role)">
					<ion-col col-2>
						<!-- <i  class="fa fa-users icons roleIcon" aria-hidden="true"></i>  -->
						<!-- <i [ngClass]="role.icon" class="icons roleIcon" aria-hidden="true"></i>  -->
						<ion-icon name="{{role.icon}}" class="icons roleIcon"></ion-icon>
					</ion-col>
					<ion-col col-10 push-1>
						<ion-label>{{role.role}}</ion-label>
					</ion-col>
				</ion-row>
			</ion-grid>      
		</div>

		<div [hidden]="!getdetail">
			<div class="selectBox1" *ngFor="let item of getitem">
				<ion-grid no-padding>
					<ion-row (click)="selectYourRoleAgain()">
						<ion-col col-2 class="labelStyle">
							<!-- <i [ngClass]="item.icon" class="icons icon" aria-hidden="true"></i>  -->
							<ion-icon name="{{item.icon}}" class="icons icon"></ion-icon>
						</ion-col>
						<ion-col col-10 pull>
							<ion-input type="text" [(ngModel)]="item.role" [readonly]="isReadonly"></ion-input>
						</ion-col>
						<!-- <ion-col col-10 push-1>
							<ion-label>{{item.role}}</ion-label>
						</ion-col> -->
					</ion-row>
				</ion-grid>      
			</div>
			<div class="selectBox1">
				<ion-grid no-padding>
					<ion-row>
						<ion-col col-2 class="labelStyle">
							<!-- <i class="fa fa-user icons icon" aria-hidden="true"></i>  -->
							<ion-icon name="ios-person-outline" class="icons icon"></ion-icon>
						</ion-col>
						<ion-col col-10 pull>
							<ion-input type="text" placeholder="First Name"></ion-input>
						</ion-col>
					</ion-row>
				</ion-grid>      
			</div>
			<div class="selectBox1">
				<ion-grid no-padding>
					<ion-row>
						<ion-col col-2 class="labelStyle">
							<!-- <i class="fa fa-user icons icon" aria-hidden="true"></i>  -->
							<ion-icon name="ios-person-outline" class="icons icon"></ion-icon>
						</ion-col>
						<ion-col col-10 pull>
							<ion-input type="text" placeholder="Last Name"></ion-input>
						</ion-col>
					</ion-row>
				</ion-grid>       
			</div>
			<div class="selectBox1">
				<ion-grid no-padding>
					<ion-row>
						<ion-col col-2 class="labelStyle">
							<!-- <i class="fa fa-clock-o icons icon" aria-hidden="true"></i>  -->
							<ion-icon name="ios-time-outline" class="icons icon"></ion-icon>
						</ion-col>
						<ion-col col-10 pull>
							<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate" placeholder="Birthday (confidential)"></ion-datetime>
						</ion-col>
					</ion-row>
				</ion-grid>       
			</div>
			<div class="selectBox1">
				<ion-grid no-padding>
					<ion-row>
						<ion-col col-2 class="labelStyle">
							<!-- <i class="fa fa-venus-mars icons icon" aria-hidden="true"></i>  -->
							<ion-icon name="ios-transgender-outline" class="icons icon"></ion-icon>
						</ion-col>
						<ion-col col-10 pull>
							<ion-select [(ngModel)]="gender" placeholder="Gender">
									<ion-option>Male</ion-option>
									<ion-option>Female</ion-option>
									<ion-option>Others</ion-option>
							</ion-select>
						</ion-col>
					</ion-row>
				</ion-grid>       
			</div>
			<div class="selectBox1">
				<ion-grid no-padding>
					<ion-row>
						<ion-col col-2 class="labelStyle">
							<!-- <i class="fa fa-phone icons icon" aria-hidden="true"></i>  -->
							<ion-icon name="ios-call-outline" class="icons icon"></ion-icon>
						</ion-col>
						<ion-col col-10 pull>
							<ion-input type="number" placeholder="Contact Number (Optional)"></ion-input>
						</ion-col>
					</ion-row>
				</ion-grid>       
			</div>

			<p class="message">
				By Providing your contact number, client would be able 
				to contact you directly. If you prefer to be contacted
				through Skillexr messages you can ignore this field.
			</p>

			<!-- <button ion-button block color="button" class="myButton" (click)="next()">
					<span class="buttonText"> Next </span>
					<i class="fa fa-arrow-right buttonIcon"  aria-hidden="true"></i>            
			</button> -->
			<button ion-button class="SS-ButtonTheme" block (click)="next()">
				<p>Next</p>
				<ion-icon name="ios-arrow-round-forward" item-end></ion-icon> 
			</button>
		</div>
	</ion-list>	
</ion-content>
