.toolbar-background-md {
    border-color: transparent; 
    background: transparent;
}
.header-md::after{
    background-image:none;
}
.SS-Header_orangeBG{
    background: #d05121;
    border-bottom: 3px solid #25394d;
}
// .SS-Header_orangeBG img {
//     width: 30%;
//     margin-top: 5px;
// }
.SS-side-menu {
    background: #25394d;
    color: #fff;
    height: 55px;
    width: 60px;
    float: right;
    padding: 8px 18px;
    font-size: 32px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.SS-ion_cont{
    background:#d7d7d7;	
}
.SS-ion_list{
    padding: 25px 35px 0 35px;
}
.SS-ion_InputItem{
    background: #dedede;
    margin-bottom:10px;
 }
 .SS-ion_InputItem ion-label {
    padding: 0 15px 0 10px;
    font-size: 22px;
    border-right: 1px solid #25394d;
}
// .SS-ion_InputItem ion-icon {
//     padding: 0 15px 0 10px;
//     font-size: 22px;
//     //border-right: 1px solid #25394d;
// }
// .SS-ion_InputItem .ion-icon:after{
//     border-right: 1px solid #25394d;
// }
 .SS-ButtonTheme{
    background: #25384c;
    background: -moz-linear-gradient(top, #25384c 1%, #212f3c 100%);
    background: -webkit-linear-gradient(top, #25384c 1%,#212f3c 100%);
    background: linear-gradient(to bottom, #25384c 1%,#212f3c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25384c', endColorstr='#212f3c',GradientType=0 );
    height:65px;
    text-transform: none;
}
.SS-divider{
    padding:0 100px;
}
.SS-divider h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #25394d; 
    line-height: 0.2em;
    margin: 30px 0 30px; 
} 
.SS-divider h2 span { 
    background:#d7d7d7; 
    padding:0 10px; 
    font-size:14px;
    color:#25394d;
}
.SS-Social_Media{
    width:100%;
    margin:0 auto;
    text-align: center;
}
.SS-Social_Media ion-icon {
    font-size: 25px;
    color: #fff;
    padding: 18px;
    margin: 0 10px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.SS-Social_Media ion-icon.ion-logo-facebook {
    background-color: #35518b;
}
.SS-Social_Media ion-icon.ion-logo-google {
    background-color: #ff3d00;
}
.SS-Social_Media ion-icon.ion-logo-twitter {
    background-color: #5aa1d2;
}
.SS-Social_Media p {
    text-decoration: underline;
    font-weight: 400;
    font-size: 15px;
    color:#25394d;
}
.SS-Social_Media span {
    text-decoration: underline;
}
.SS-Social_Media h3 {
    font-size: 15px;
    font-weight: 400;
    color:#25394d;
}

//Edison's css

// .toolbar-title-md{
//     color: #ffffff;
//     font-size: 18px;
//     overflow: initial;
//     //text-align: center;
// }
// .SS-ButtonTheme ion-icon{
//     font-size: 25px;
//     margin-left: 200px;      
// }
// .button-inner{
//     justify-content: initial;
//     margin-left: 12px;
// }
// ion-header ion-icon.back-button-icon.icon {
//     color: map-get($colors, light);
// }