page-skillexr-createbadge2 {
      //Create a Badge page
      ion-title{
        text-align: center;
    }
    .previous{
        text-transform: lowercase;
        font-size: 12px;
    }
    .next{
        text-transform: lowercase;
        font-size: 12px;
    }
    .level{
        display: inline-block;
        font-size: 50px;
        //position: relative;
        //bottom: 2px;
        opacity: 0.5;
        color: #ffffff;
        margin-right: 20px;
    }
    .level1{
        opacity: 1;
    }

    .selectBox1{
        width: 100%;
        padding: 6px 10px;
        border: none;
        border-radius: 2px;
        background-color: #dedede;
        margin-bottom: 10px;
    }
    .selectBox{
        width: 100%;
        padding: 2px 10px;
        border: none;
        border-radius: 2px;
        background-color: #dedede;
        margin-bottom: 10px;
    }
    .selectBox:active{
        background-color: #036610;
    }
    .roleIcon{
        margin-left: 10px;
    }
    .icon{
        margin-left: 5px;
    }
    .icons{
        zoom: 1.5;
        position: absolute;
        top: 8px;
    }
    .labelStyle{
        border-right: 1px solid #2B2A2A;
        padding-right: 1px;
        position: relative;
    }
    .message{
        color: #25394d;
        margin-bottom: 10px;
    }
    .SS-ButtonTheme ion-icon{
        font-size: 25px;
        margin-left: 200px;      
    }
    .button-inner{
        justify-content: initial;
        margin-left: 12px;
    }
    .signupText{
        font-size: 14px;
        color: #25394d;
    }
    .signupText span{
        color: #d05121;
        text-decoration: underline;
    }
}
