page-skillexr-signup {
    .SS-ButtonTheme ion-icon{
        font-size: 25px;
        margin-left: 200px;      
    }
    .button-inner{
        justify-content: initial;
        margin-left: 12px;
    }
    // .button-inner ion-icon{
    //     font-size: 25px;
    //     margin-right: 12px;
    // }
}
