page-side-menu {
	.toolbar-background-md {
	    border-color: transparent; 
	    background: transparent;
	}
	.toolbar-md{
		padding:0px !important;
	}
	.header-md::after{
		background-image:none;
	}
	.SS-Header_orangeBG{
		background: #d05121;
    	border-bottom: 3px solid #25394d;
    	padding: 0px;
	}
	.SS-Header_orangeBG img {
	    width: 30%;
	    margin-top: 5px;
	}
	.SS-side-menu {
		background: #25394d;
		color: #fff;
		height: 55px;
		width: 60px;
		float: right;
		padding: 8px 18px;
		font-size: 32px;
		position: absolute;
		top: 0px;
		right: 0px;
	}
	.SS-segment {
	    background: #25394d;
	    color: #fff;
	    height: 60px;
	}
	ion-segment.SS-segment.segment-md .segment-button.segment-activated {
	    color: #fff;
	    border-color: #d05121;
	}
	.segment-md .segment-button{
		color: #fff;
	}
	.SS-ion_cont{
		background:#d7d7d7;	
	}
	.SS-ion_list{
		padding: 25px 35px 0 35px;
	}
	.SS-ion_InputItem{
    	background: #dedede;
    	margin-bottom:10px;
 	}
 	.SS-ion_InputItem ion-label {
	    padding: 0 15px 0 10px;
	    font-size: 22px;
	    border-right: 1px solid #25394d;
	}
 	.SS-ButtonTheme{
		background: #25384c;
		background: -moz-linear-gradient(top, #25384c 1%, #212f3c 100%);
		background: -webkit-linear-gradient(top, #25384c 1%,#212f3c 100%);
		background: linear-gradient(to bottom, #25384c 1%,#212f3c 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25384c', endColorstr='#212f3c',GradientType=0 );
		height:65px;
	}
}